body {
    background-image:url(../Graphics/background2.png);
    padding-top:100px;
    background-size:100%;
}

h2 {
    font-weight:bolder;
    font-size: 36px;
    font-family: 'georgia','century Gothic','Century Gothic light', sans-serif;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

h4 {
    font-family: 'georgia','century Gothic','Century Gothic light', sans-serif;
}

.back_Home {
    background-image: url(../Graphics/background.png);
    padding-top: 100px;
    background-size: 100%;
}

.back_About {
    background-image: url(../Graphics/background4.png);
    padding-top: 100px;
    background-size: 100%;
}


.back_Contact {
    background-image: url(../Graphics/background3.png);
    padding-top: 100px;
    background-size: 100%;
}


.back_MissionSelect {
    background-image: url(../Graphics/background1.png);
    padding-top: 100px;
    background-size: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
        font-weight: lighter;
        font-size:18px;
    }

    li a:hover:not(.active) {
        color:whitesmoke;
        background-color: #484859;
        font-weight: bold;
        text-decoration:none;
    }

.name {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-weight: lighter;
    font-size: 18px;
    margin:0;
}

.active {
   font-style:italic;
}


.homelink {
    font-weight:bolder;
    color: white;
    font-family: 'georgia','century Gothic','Century Gothic light', sans-serif;
    font-size: 36px;
    vertical-align: middle;
   
}

.homelinks{
    align-content:center;
}

.hometitle {
    text-align:center;
    font-family:'Georgia','Northwell','Trebuchet MS','Century Gothic','Century Gothic light', sans-serif;
    font-size: 55px;
}

.homehead {
    font-family: Georgia;
    font-size:30px;
    font-weight:bolder;
}
.tieconl{
    padding-top:15px;
    padding-left:15px;
}
.tieconr {
    padding-top: 15px;
    padding-right: 15px;
}

.bodycont{
    padding-left:3%;
    padding-right:3%;
    width:75%;
}

.lead{
    text-align:center;
font-size:32px;
    color:black;
}

.question{
    font-weight:bold;
    font-style:italic;
    font-size:24px;
}

.answer{
    font-style:italic;
}

.answerform{
    width:100%;
    text-align:left;
}

.formQ{
    border-style:none;
    background-color:none;
}

.flag{
    width:200px;
    border-style:solid;
    border-width:3px;
    border-color:black;
}