@{
    ViewBag.Title = "Contact";
}
<div class=" = jumbotron">
<p class=" homehead">Contact Us</p>
<address>
    One Missionary Way<br />
    Provo, Utah 84604-6854<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@notrealemail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@notrealemail.com</a>
</address>

</div>