@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <p class="hometitle"><b>Welcome to MissionPossible.Com</b></p>
    <p class="lead"><em>So you got your call and you chose to accept your mission? </em><br /><br /> Great! We're here to help your mission go as smoothly as possible.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="homehead">Your Mission</p>
        <p>
            Find others who've succesfully completed a mission just like yours and ask them questions. You can view past questions as well and view other mission-specific detals:
        </p>
        <p><a class="btn btn-outline-dark btn-md" href="https://go.microsoft.com/fwlink/?LinkId=301865">I've got questions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p class="homehead">Our Mission</p>
<p>Our mission is to provide you with the best experience on your mission. Click to learn more about us and donate:</p><br />
        <p><a class="btn btn-outline-dark btn-md" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p class="homehead">Mission Contact</p>
        <p>HQ loves to collect information to make our services and tools as applicable and helpful as possible. Contact us with questions or suggestions</p>
        <p class="homelinks"><a class="btn btn-outline-dark btn-md" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us  &raquo;</a></p>
    </div>
</div>